body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.footer {
    background-color: #1F2937;
    color: #f9faf8;
    font-family: 'Roboto', arial;
}

.header,
.information,
.quote-section,
.button-section {
    padding-left: 140px;
    padding-right: 140px;
}

.header-top {
    display: flex;
    padding: 16px;
    margin-bottom: 32px;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.header-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin-bottom: 48px;
    gap: 32px;
}

.hero-left {
    display: flex;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 250px;
    gap: 16px;
    flex: 1 1 auto;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
}

.secondary-text {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-sign-up-button,
.sign-up-button {
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: 700;
    background-color: #3882F6;
    border-radius: 8px;    
    border-style: none;
    padding: 6px 24px;
    justify-content: center;
    align-items: center;
}

.hero-right {
    display: flex;
    margin-left: auto;
}

.hero-image {
    display: flex;
    width: 400px;
    height: 250px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information-text {
    display: flex;
    justify-content: center;
    padding: 36px;
    font-size: 32px;
    font-weight: bolder;
    color: #1f2937;
}

.information-cards {
    display: flex;
    gap: 32px;
    margin-bottom: 84px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 150px;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.card-text {
    text-align: center;
    font-size: 18px;
    color: #1f2937;
}

.information-card-image {
    height: 150px;
    width: 150px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 16px;
    border-width: 4px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #e5e7eb;
    padding-top: 48px;
    padding-bottom: 48px;
}

.quote-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    margin-left: auto;
}

.button-section {
    padding-top: 70px;
    padding-bottom: 70px;
}

.button-text {
    color: #f9faf8;
}

.button-container {
    display: flex;
    border-radius: 16px;
    background-color: #3882F6;
    padding: 24px 90px;
}

.call-to-action {
    font-size: 24px;
    color: #f9faf8
}

.sign-up-text {
    font-size: 18px;
    color: #f9faf8;
}

.sign-up-button {
    margin-left: auto;
    border-color: white;
    border-style: solid;
}

.footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    padding: 16px;
}